/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family:"helvetica","sans serif"
}
.center,.foot{
    width: 80%;
    margin: auto;
}
.content{
    margin-top: 2rem;
}
/* header */
.small{
    width: 25%;
    background-color: burlywood;
    float: left;
}
.big{
    background-color: crimson;
    width: 50%;
    float: left;
}
.presentation{
    position: relative;
}
.maintxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* main */
.image,.txt{
    float: left;
}
.image{
    width: 60%;
}
.txt{
    width: 40%;
}
.content5{
    margin: 3rem 0;
}
/* footer */
footer{
    background-color: darkgray;
}
.cpfoot{
    width: 40%;
    float: left;
}
.csfoot{
    width: 15%;
    float: left;
}
.ban{
    float: left;
    width: 50%;
}
/* debug class */
.debug .content1{
    background-color: blueviolet;
    height: 30rem;
}
.debug .barra{
    height: 4rem;
    background-color: brown;
}
.debug .small,.big{
    height: 4rem;
}
.debug .presentation{
    background-color: darkblue;
    height: 26rem;
}
.debug .maintxt{
    background-color: darkorange;
    height: 20rem;
    width: 30rem;
}
.debug .image{
    background-color: deepskyblue;
    height: 20rem;
}
.debug .txt{
    background-color: darkseagreen;
    height: 20rem;
}
.debug .image,.txt{
    margin-top: 2rem;
}
.debug .lasttxt{
    height: 7rem;
    background-color: deeppink;
    margin-top: 3rem;
}
.debug .lastimage{
    height: 20rem;
    background-color: gold;
}
.debug .calltoaction{
    height:7rem;
    background-color: indianred;
}
.debug .cpfoot, .csfoot{
    height: 20rem;
}
.debug .cpfoot{
    background-color: darkkhaki;
}
.debug .csfoot{
    background-color:palegreen ;
}
.debug .ban{
    height: 6rem;
}
.viola{
    background-color: red;
}
.pink{
    background-color: pink;
}