/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    font-family:"catamaran","sans serif"
}
.center,.row,.foot{
    width: 80%;
    margin: auto;
}
.content{
 
}
/* header */
header{
    color: white;
}
.content1{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    margin-bottom: 6rem;
}
/* barra nav */
.barra{
    height: 4rem;
    line-height: 4rem;
}
.small img,.barra{
    vertical-align: middle;
}
.big li,.small,.big{
    float: left;
}
.big ul{
    list-style: none;
}
.big a,.csfoot a{
    text-decoration: none;
    color: white;
}
.big li{
    width: 20%;
    text-align: center;
}
.small{
    width: 25%;
}
.big{
    width: 50%;
}
/* /barranavigazione */
/* bannercentrale */
.presentation{
    position: relative;
    height: 22rem;
}
.maintxt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.maintxt p{
    margin-bottom: 1.3rem;
    margin-top: 1rem;
}
.bottoni a{
    margin: 0 1rem;
    
}
h1{
    font-size: 3rem;
}
/* main */
.colonna{
    float: left;
}
.uno{
    width: 70%;
}
.due{
    width: 30%;
}
.image,.txt{
    
}
.image > img{
    width: 35rem;
    margin-top: -2rem;
}
.colonna h2{
    font-size: 3rem;
    line-height: 4rem;
}
.txt p{
    margin-top: 1.5rem;
}
.content5{
    margin: 3rem 0;
}
.calltoaction h2{
    padding-top: 1.7rem;
}
.lasttxt p{
    margin-top: 1rem;
}
.lasttxt h2{
    font-size: 2.5rem;
}
.lastimage,.calltoaction h2,.content5{
    text-align: center;
}
.calltoaction{
    margin:3rem auto;
    width: 50%;
    background-image: url(./img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
/* footer */
footer{
    background-color: #23272A;
    color: white;
}
.cpfoot{
    width: 30%;
}
.csfoot{
    width: 17.5%;
}
.ban{
    width: 50%;
}
.colonne{
    padding-top: 3rem;
}
.cpfoot .title{
    font-size: 1.5rem;
    width: 50%;
}
.cpfoot img{
    width: 1rem;
}
.csfoot a{
    width: 100%;
}
footer hr{
    border:1px solid #7289DA;
    width: 100%;
    margin: 1rem 0;
}
.lastbanner div{
    width: 50%;
    margin: 2rem 0;
}
/* utility */
.button{
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.3rem 1rem
}
.lastbanner div,footer hr,.csfoot a,.ban,.csfoot,.cpfoot{
    float: left;
}
.endtxt{
        text-align: end;
}
.black{
    background-color: black;
    color: white;
}
/* .sfondo{
    background-image: url(./img/wave.svg);
} */
.lailac{
    background-color: #8EA1E1;
    color: white;
}
.title{
    color: #7289DA;
}
.freccia{
    font-size: .6rem;
}

/* debug class */
